body {
	background: url(../images/swirl_pattern.png) repeat;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/jakarta_blur.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#group-restos button{
    margin:0.3em;
}

#group-restos input{
    margin:0.3em;
}