.rubis i {
    margin: 0 14px 0 -14px;
    background-image: url('/imgs/rubisGrey.png');
    background-size: auto 20px;
    background-repeat: no-repeat;
}

.rubis:hover i {
    background-image: url('/imgs/rubisWhite.png');
}

.rubis.active i,
.rubis:focus i {
    background-image: url('/imgs/rubisGreen.png');
}

.diamond i {
    margin: 0 -1px;
}
