body {
	background: url(../res/swirl_pattern.png) repeat;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../res/jakarta_blur.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.container {
}

#tirage-cont {
	margin-top: 8px;
	padding-bottom: 50px;
	background: white;
}