{% extends 'djfrontend/skeleton.html' %}

{% load staticfiles %}
{% load djfrontend %}

{% block head_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'quelresto_frontend/css/style.css' %}"/>
{% endblock %}

{% block head_js %}
{{ block.super }}
<script src="{% static 'quelresto_frontend/js/libs/js.cookie.js' %}"></script>
{% endblock %}


{% block body_content %}

{% include 'quelresto_frontend/navbar.html' %}

{% block top_content %}
{% endblock top_content %}

<div class="container">
    {% block container_content %}

    {% endblock container_content %}
    <hr>
    {% block footer %}
    <footer>
        <p>&copy; Matthieu</p>
    </footer>
    {% endblock footer %}
</div>
{% endblock body_content %}

{% block body_js %}
    {{ block.super }}
    {% block quelresto_body_js %}
    {% endblock %}
{% endblock %}