{% extends 'quelresto_frontend/base.html' %}

{% load static %}

{% block container_content %}
<input id="tid" type="hidden" value="{{ tid }}"/>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Sélection des restos</div>
            <div class="panel-body">
                <div id="group-restos" class="container-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container_content %}

{% block quelresto_body_js %}
<script src="{% static 'quelresto_frontend/js/tirage.js' %}"></script>
{% endblock %}