{% extends 'quelresto_frontend/base.html' %}

{% load static %}

{% block container_content %}
<input id="tid" type="hidden" value="{{ tid }}"/>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Sélection des restos</div>
            <div class="panel-body">
                <div id="group-restos" class="container-fluid">
                </div>
                <div class="panel-footer text-center">
                    <p><a id="btn-selection" class="btn btn-primary" href="#" role="button">Valider mes choix &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Participants</div>
            <div class="panel-body">
                <div class="container-fluid">
                    <ul id="participants">

                    </ul>
                </div>
            </div>
            <div id="pn-shuffle" class="panel-footer text-center">
                <p><a id="btn-shuffle" class="btn btn-primary" href="#" role="button">Tirer au sort &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock container_content %}

{% block quelresto_body_js %}
<script src="{% static 'quelresto_frontend/js/libs/bootstrap-notify.js' %}"></script>
<script src="{% static 'quelresto_frontend/js/tirage.js' %}"></script>
{% endblock %}