/* REQUIRED: DO NOT REMOVE */
@import "./overrides/variables";

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../contrib/sass/sass-list-maps/sass-list-maps";

/* IMPORT PAGE STYLES */
@import "pages/pages";
/* IMPORT PRINT STYLES */
@import "print/print";

html {
    height: 100%;
}

body {
    height: 100%;
}

.text-bold {
  font-weight: bold;
}

#app-preloader > .preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #E9EDF2;
  z-index: 99999999999;
}

#app-preloader > .preloader > img {
  margin: auto;
  display: block;
  margin-top: 150px;
  position: relative;
}


#app-container {
    display: table;
    width: 100%;
    height: 100%;
}
